<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashlimeianwarren.saaf" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WheresMyCarMainActivity"
            android:label="@string/title_activity_wheres_my_car_main" >
        </activity>
        <activity
            android:name=".WhatHappenedTodayMainActivity"
            android:label="@string/title_activity_what_happened_today_main" >
        </activity>
        <activity
            android:name=".WhatsThisMainActivity"
            android:label="@string/title_activity_whats_this_main" >
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".WhatHappenedTodaySubjectActivity"
            android:label="@string/title_activity_what_happened_today_note" >
        </activity>
        <activity
            android:name=".WhatHappendTodayNoteActivity"
            android:label="@string/title_activity_what_happend_today_note" >
        </activity>
        <activity
            android:name=".WhatsThisAddContentActivity"
            android:label="@string/title_activity_whats_this_add_content" >
        </activity>
    </application>

</manifest>
